body{
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: #ffffff00; /* Cor de fundo do cabeçalho, ajuste conforme necessário */
    z-index: 1000; /* Garante que o cabeçalho fique na frente de outros elementos */
    justify-content: space-evenly; /* Distribui os itens ao longo do espaço disponível */
    align-items: center;
}
#title{
        flex-direction: column;
        line-height: 0px;
        padding: 0;
        font-size: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 0;
}
#title:hover{
    text-shadow: 0 0 30px rgb(137, 43, 226);
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: aliceblue;
    font-size: 1.3rem;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    transition: 0,3s all;
}
#inscreva-se-btn{
    border: solid 2px blueviolet;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn:hover{
    background-color: blueviolet;
    color: aliceblue;
}
h1{
    padding: 0; /* Remova a margem padrão do h1 */
    line-height: 1px;
}
span{
    color: blueviolet;
    line-height: 1px;
}
main{
    display: flex;
    flex-direction: row;
    width: 90%;
}
h2{
    font-size: 45px;
    line-height: 10px;
    font-family: poppinsmedium;
}
p{
    font-size: 18px;
    line-height: 25px;
    max-width: 500px;
    font-family: poppinslight;
    text-align: justify;
    text-indent: 20px;
}
img{
    width: 580px;
    transition: box-shadow 0.3s ease;
    filter: drop-shadow(0 0 70px rgba(137, 43, 226, 0.418));
    position: fixed;
    top: 10rem; /* Ajuste conforme necessário para posicionar a imagem no topo da página */
    left: 70%; /* Ajuste conforme necessário para posicionar a imagem no centro da largura da página */
    transform: translateX(-50%); /* Para centralizar horizontalmente a imagem */
    z-index: 1000; /* Valor alto para garantir que a imagem esteja sempre na frente de outros elementos */
}
img:hover{
    
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
form [type="submit"]{
    height: 50px;
    width: 40%;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;a
}
form [type="submit"]:hover{
    cursor: pointer;

}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
h3{
    font-size: 2rem;
}
#list{
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 1px;
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    word-wrap: break-word; /* ou use overflow-wrap: break-word; */
}
#list li:hover{
    color: blueviolet;
}
#list1{
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 2px;
    font-size: 1rem;
    text-align: justify;
    width: 100%;
}
#list1 li:hover{
    color: blueviolet;
}
.cttlink{
    color: aliceblue;
    font-size: 1.1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    margin-bottom: 10px;
    margin-left: 22px;
}
h4{
    font-size: 1.3rem;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
    font-size: 1rem;
}
/* Estilo para a modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 8rem;
    top: 4rem;
    width: 50%;
    height: 100%;
    overflow: auto;
    padding-top: 80px;
    align-content: space-between;
    font-family: poppinslight;
}
.modal p{
    font-size: 18px;
    line-height: 25px;
    max-width: 500px;
    font-family: poppinslight;
    text-align: justify;
    text-indent: 20px;
}

  /* Estilo para o conteúdo da modal */
.modal-content {
    background-color: #343434;
    margin: 0% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 30px;
    text-align: center;
}

  /* Estilo para o botão de fechar a modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.custom-modal {
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo com opacidade */
    width: 50%; /* Largura da modal (ajuste conforme necessário) */
    height: 100%; /* Altura da modal (ocupa toda a altura da página) */
    position: fixed; /* Permite que a modal fique fixa na tela enquanto rola */
    top: 0; /* Distância do topo da página */
    left: 0; /* Distância da esquerda da página */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo for longo */
    padding: 25px; /* Espaçamento interno da modal */
    box-sizing: border-box; /* Garante que padding e bordas não aumentem o tamanho total */
    z-index: 1; /* Z-index para garantir que a modal esteja acima do restante da página */
    opacity: 0; /* Inicialmente, a modal é transparente */
}
.custom-modal.active {
    opacity: 1; /* Quando a classe 'active' é adicionada, a modal torna-se opaca */
transition: opacity 0.5s ease; /* Adiciona uma transição suave para a propriedade opacity */
}
#contratar{
    text-align: center;
    top: 1;
}
.whatsapp-button {
    background-color: darkgreen;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.whatsapp-button:hover {
    color: aliceblue;
}
br{
    line-height: 10px;
}
